{% extends "base.html" %}

{% block title %}
 &ndash; Export with OAI-PMH &ndash;
{% endblock %}

{% block content %}
<div class="white_box plaintext">
    <h2>OAI-PMH: Expose metadata records</h2>
        <form class="form_helper" method="post" action=".">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
            </table>
            <input class="button big_button" type="submit" value="Submit" />
        </form>
</div>
{% endblock %}