{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load url from future %}
{% load widget_tweaks %}

{% block extrahead %}{{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    {{ media }}
    <style>
        li {
            font-size: 1em;
            line-height: 1.7;
        }

        .is-invalid, .invalid-feedback {
            color: red;
            border-color: red;
        }

        .is-valid {
            color: #0C5404;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% include "breadcrumbs.html" %}
{% endblock %}

{% block content %}
    <div class="container" style="width:60%; margin: 0 auto; font-size: 1.2em; line-height: 1.7;
    border: thin solid; padding: 10px">
        <h2>Resource Deposition Agreement</h2>
        {#        {% for resource in selected_resources %}#}
        {#            {{ resource }}#}
        {#        {% endfor %}#}
        {#                <form method="post" action="{{ path }}">{% csrf_token %}#}
        {#                    <table>#}
        {#                        {{ form }}#}
        {#                    </table>#}
        {#                    <div class='distance-div'>#}
        {#                        <input type="hidden" name="action" value="ingest_action"/>#}
        {#                        <input type="submit" name="ingest_action" value="Confirm"/>#}
        {#                        <input type="submit" name="cancel" value="Cancel"/>#}
        {#                        <input type="submit" name="cancel" value="Back"/>#}
        {#                    </div>#}
        {#                </form>#}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="{{ path }}">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                {% if not field.name == 'agree' %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <!-- AGREEMENT TEXT -->
            <div>
                <div>
                    I, <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>, <span id="role"></span> officially representing
                    the <b>{% for p in projects %}{{ p.projectName.en }}, {% endfor %}</b>
                    hereby certify that I deposited to the <b>ELRC-SHARE repository</b> the following <i>Resources</i>:</div>
                <div>
                <ul style="font-size: inherit">
                    {% for resource in selected_resources %}
                        {% if resource.resourceCreationInfo.fundingProject.all.0.CEF_generic_services_project and resource.storage_object.publication_status == 'i' %}
                            <li style="font-size: inherit"><b>{{ resource }} (ELRC ID: {{ resource.id }}) ({{ resource.resourceCreationInfo.fundingProject.all.0.projectShortName.en }})</b></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                By depositing the above <i>Resource(s)</i> to ELRC-SHARE I agree to the following statements:
                <ol style="font-size: inherit">
                    <li>I have the necessary legal title in the <i>Resource(s)</i> or I have obtained permission
                        to deposit the <i>Resource(s)</i>;
                    </li>
                    <li>The deposition of the <i>Resource</i> will not violate or be considered a breach of any obligation or
                        right of a third party;
                    </li>
                    <li>The deposition of the <i>Resource</i> will not violate any applicable law or regulation;</li>
                    <li>The information I provided in the process of deposition does not contain any untrue statements
                        of legal or material facts;
                    </li>
                    <li>
                        The <i>Resource(s)</i> and the information I provided in the process of deposition does not
                        contain any personal information I am not entitled to process and use;
                    </li>
                    <li>The rights of use of the datasets contained in the <i>Resource(s)</i> and any possible restrictions
                        and conditions, have been described in the Distribution group of metadata
                        (Licence, Conditions of use, IPR holder etc.;
                    </li>
                    <li>
                        All available evidence to support the above claims, where available, have been provided in the
                        Legal Documentation zip file. If requested, I will provide any additional documents
                        that support the above claims;
                    </li>
                    <li>
                        I agree that the <i>Resource</i> descriptions (metadata), when/if published, are licensed under
                        the Creative Commons Attribution (CC-BY) version 4.0 or higher and that I allow the harvesting
                        of published metadata;
                    </li>
                    <li>
                        I understand that ELRC and the European Commission waive all liability in the event of a
                        breach of any law or regulation caused by the deposit of a resource on ELRC-SHARE;
                    </li>
                </ol>
            </div>
            {% for field in form.visible_fields %}
                {% if field.name == 'agree' %}
                    <div class="form-check">
                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-check-input is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-check-input is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-check-input" %}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                        <label class="form-check-label" for="id_agree">
                            I have read, understood and agree with the above statements.
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
            <input type="hidden" name="action" value="ingest_action"/>
            <input type="hidden" name="project_full_name" value="{% for p in projects %}{{ p.projectName.en }}, {% endfor %}"/>
            {% for resource in selected_resources %}
                {% if resource.resourceCreationInfo.fundingProject.all.0.CEF_generic_services_project and resource.storage_object.publication_status == 'i' %}
                <input type="hidden" name="gen_resources" value="{{ resource }} (ELRC ID: {{ resource.id }}) ({{ resource.resourceCreationInfo.fundingProject.all.0.projectShortName.en }})"/>
                {% else %}
                <input type="hidden" name="resources" value="{{ resource }}"/>
                {%  endif %}
            {% endfor %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            <button type="submit" name="cancel" class="btn btn-danger">Cancel</button>
            <button type="submit" name="ingest_action" class="btn btn-primary" value="ingest">Submit</button>
        </form>
        <hr/>
        <p style="margin-top:20px;">
            <b><em>
                A copy of this statement in pdf format will be emailed to you at the email address you have indicated
                at registration.
            </em></b>
        </p>
    </div>
    <script>
        $("#id_project_full_name").on("change", function () {
            $("#project-name").text($("#id_project_full_name").val());
        });
        $("#id_role").on("change", function () {
            $("#role").text($("#id_role").val());
        });
    </script>
{% endblock content %}
