{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        div {
            margin: 10px 0 0 10px;
        }
    </style>
</head>
<body style="font-size: 11pt">
    <div>
        <div>
            <div style="float: left">
                <img src="/static/metashare/images/elrc_small.png" height="62" width="200">
            </div>
            <hr/>
            <h2 style="text-align: center">Resource Deposition Agreement</h2>
            <div>
                I, <b>{{ fname }} {{ lname }}</b>, {{ role }} officially representing the <b>{{ project_full }}</b>
                hereby certify that I deposited to the <b>ELRC-SHARE repository</b> the following <i>Resources</i>:</div>
            <div>
                <ol style="font-size: inherit">
                    {% for resource in gen_resources %}
                        <li style="font-size: inherit"><b>{{ resource }}</b></li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                By depositing the above <i>Resource(s)</i> to ELRC-SHARE I agree to the following statements:
                <ol style="font-size: inherit">
                    <li>I have the necessary legal title in the <i>Resource(s)</i> or I have obtained permission
                        to deposit the <i>Resource(s)</i>;
                    </li>
                    <li>The deposition of the <i>Resource</i> will not violate or be considered a breach of any obligation or
                        right of a third party;
                    </li>
                    <li>The deposition of the <i>Resource</i> will not violate any applicable law or regulation;</li>
                    <li>The information I provided in the process of deposition does not contain any untrue statements
                        of legal or material facts;
                    </li>
                    <li>
                        The <i>Resource(s)</i> and the information I provided in the process of deposition does not
                        contain any personal information I am not entitled to process and use;
                    </li>
                    <li>The rights of use of the datasets contained in the <i>Resource(s)</i> and any possible restrictions
                        and conditions, have been described in the Distribution group of metadata
                        (Licence, Conditions of use, IPR holder etc.;
                    </li>
                    <li>
                        All available evidence to support the above claims, where available, have been provided in the
                        Legal Documentation zip file. If requested, I will provide any additional documents
                        that support the above claims;
                    </li>
                    <li>
                        I agree that the <i>Resource</i> descriptions (metadata), when/if published, are licensed under
                        the Creative Commons Attribution (CC-BY) version 4.0 or higher and that I allow the harvesting
                        of published metadata;
                    </li>
                    <li>
                        I understand that ELRC and the European Commission waive all liability in the event of a
                        breach of any law or regulation caused by the deposit of a resource on ELRC-SHARE;
                    </li>
                </ol>
            </div>
            <hr/>
            <div style="text-align: right;">{% now "SHORT_DATE_FORMAT" %}</div>
            <div style="text-align: right;"><b>{{ fname }} {{ lname }}</b></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>