{% extends "base.html" %}
{% load email_protection %}

{% block content %}
<h2>Internal Server Error (500)</h2>
<div class="content_box">
<p>We&rsquo;re sorry, but an internal error occurred when processing your request.</p>
<p>Please try again and, if the error persists, the ELRC-SHARE Repository ({% encrypt_email 'elrc-share@ilsp.gr' %}).</p>
</div>
{% endblock %}
