{% spaceless %}
    {% load static from staticfiles %}
    <div id="footer">
        <div class="split"></div>
        The European Language Resource Coordination - CEF eTranslation repository
        <br>powered by <a href="http://metashare.ilsp.gr/" target="_blank">META-SHARE</a><br><span
            style="text-align: center"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img
            src="/static/metashare/images/by-nc-sa.eu_small.png" sizes=""></a></span><br>
    CC-BY-NC-SA 4.0
    </div>
{% endspaceless %}