{% extends "base.html" %}
{% load humanize %}
{% load static from staticfiles %}
{% block extra_head %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
        #toast-container > .toast-info {
            width: 59%;
            font-size: 17px;
        {#opacity: .97 !important;#}
        }

        .toast-info {
            float: right;
        }
    </style>
{% endblock %}
{% block back %}{% include "back.html" with page="frontpage" %}{% endblock %}
{% block content %}
    {% spaceless %}
        <div style="margin-top: -80px">
            <div class="span-24">
                {#                DO NOT DISPLAY NUMBER OF RESOURCES#}
                {#                <div style="text-align:center;margin-top: 20px;margin-bottom: 20px;">#}
                {#                    <p style="text-align: center; color: #058dbe;font-weight: bold;">{{ resources|intcomma }} language#}
                {#                        resource{{ resources|pluralize }} at your disposal</p>#}
                {#                </div>#}
                <form method="get" action="{% url 'frontpage' %}repository/search/" class="form_helper">
                    <div id="search">
                        <div id="search_input"><input class="big_input span-14" type="text" name="q"
                                                      defaultText="Type in your keywords, please..."/></div>
                        <div id="search_button">
                            <button type="submit" class="big_button_search" title="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span-24" style="
            margin-top: 3%;
            background: #bfe4f9;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid #dcdcdc;">
                <p><b>ELRC response to COVID-19 crisis</b></p>
                <p style="margin: 0!important;">
                    ELRC is participating in a <a href="http://www.lr-coordination.eu/#covid-19" target="_blank">collaborative</a>
                    COVID-19 initiative, which gathers language resources supporting the development of urgently needed
                    applications and services in relation to the pandemic.
                    <a href="https://www.elrc-share.eu/repository/search/?q=&selected_facets=projectFilter_exact%3ACOVID-19">
                        Check out</a> the resources collected so far.</p>
            </div>
            <div class="span-24" style="vertical-align: middle; margin-top:30px;">
                <table>
                    <tr>
                        <td>
      <span class="span-15 last" style="">
        <h2>Welcome to the ELRC-SHARE repository!</h2>
        <p>The ELRC-SHARE repository is used for documenting, storing, browsing and
            accessing <a href="http://lr-coordination.eu/resources">Language Resources</a> that
            are collected through the <a href="http://lr-coordination.eu">European Language
                Resource Coordination</a> and considered useful for feeding the CEF Automated Translation
            (<a href="https://www.lr-coordination.eu/index.php/Learning-center#f2" target="_blank">CEF.AT</a>) platform.</p>
		<p>If you want to contribute resources, all you have to do is
            {% if not user.is_authenticated %}
                <a href="/accounts/create/">register</a> (new user)
                or <a href="/repository/contribute">login</a> (returing user)
            {% else %}
                click <a href="/repository/contribute">here</a>
            {% endif %}
            and go on to describe and upload your data with a simple form.
        <br/>
        <div>
          <map name="registerMap">
                <area shape="circle" coords="47,82,45" alt="Register" href="/accounts/create/">
                <area shape="circle" coords="290,82,45" alt="Contribute data" href="/repository/contribute">
          </map>
          <map name="contributeMap">
                <area shape="circle" coords="290,82,45" alt="Contribute data" href="/repository/contribute">
          </map>
          <img
                  {% if not user.is_authenticated %}
                      src="{{ STATIC_URL }}metashare/images/diagram.png" width="476"
                      style="display:block; margin: 0 auto;" usemap="#registerMap"
                  {% else %}
                      src="{{ STATIC_URL }}metashare/images/diagram_deact.png" width="476"
                      style="display:block; margin: 0 auto;" usemap="#contributeMap"
                  {% endif %}
          />
        </div>
          <p>All data resources gathered by this initiative will be provided to the European Commission for use in the CEF.AT platform.</p>
          <p>Do you represent a CEF generic services project? Please read
              <a href="{{ STATIC_URL }}metashare/CEF_generic_services_projects.pdf" target="_blank">these short guidelines</a>.
          </p>
          <p>
            The Data Protection Record for the ELRC-SHARE repository is available
            <a href="{{ STATIC_URL }}metashare/DataProtection_Repository.pdf" target="_blank">here</a>.
          </p>
      </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "0",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["info"]("Looking for mature language technology solutions in Europe? Check " +
                "out the <a style=\"color: #ffd500\" href=\"https://cef-at-service-catalogue.eu/\" target=\"_blank\">Catalogue of CEF eTranslation Services</a>.")
        </script>
    {% endspaceless %}
{% endblock %}
