{% extends "base.html" %}
{% load email_protection %}
{% load static %}
{% block content %}
    <h2>Help</h2>
    <div class="content_box">
        <h2>Documentation on the ELRC-SHARE editor</h2>

        <p>The following guidelines provide detailed information on how to use the editing facility for documenting and
            uploading LRs:
        <ul>
            <li>
                <a href="{{ STATIC_URL }}metashare/Walkthrough_for_Contributors.pdf" target="_blank">Walkthrough for contributors</a>
            </li>
            <li>
                <a href="{{ STATIC_URL }}metashare/Walkthrough_for_Editors.pdf" target="_blank">Walkthrough for editors</a>
            </li>
            <li>
                <a href="{{ STATIC_URL }}metashare/CEF_generic_services_projects.pdf" target="_blank">Short guidelines for <b>CEF generic services projects</b></a>
            </li>
        </ul>

        <h2>ELRC-SHARE schema</h2>
        <ul>
            <li><a href="https://elrc-share.eu/ELRC-SHARE_SCHEMA/v2.0/" target="_blank">ELRC-SHARE schema XSD</a>
            (based on the META-SHARE Schema)</li>
            <li><a href="/documentation/elrcShareSchema.html" target="_blank">Documentation about the schema</a></li>
        </ul>
        <h3>Resource XML Templates</h3>
        <ul>
            <li><a target="_blank" href="{% static "metashare/corpus-resource.xml" %}">Corpus</a></li>
            <li><a target="_blank" href="{% static "metashare/lexical-resource.xml" %}">Lexical/Conceptual Resource</a></li>
            <li><a target="_blank" href="{% static "metashare/language-description-resource.xml" %}">Language Description</a></li>
        </ul>
        </p>
        <h2>Contact details</h2>
        <ul>
            <li><a href="http://www.lr-coordination.eu/helpdesk" target="_blank">Helpdesk</a></li>
            <li>Only for technical help about the ELRC-SHARE repository, you can contact us
            at {% encrypt_email 'elrc-share@ilsp.gr' %}.</li>
        </ul>
    </div>
{% endblock %}