{% extends "base.html" %}

{% block title %}{% if title %}{{ title }}{% else %}Log in{% endif %} &ndash; ELRC-SHARE{% endblock %}

{% block messages %}
    {% if form.errors %}
        <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>User Authentication</h2>
    <div class="content_box">
        <form class="form_helper" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <button class="span-4 button middle_button" style="margin-left: 43%;">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        </button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <span>Forgotten your password? Click <a href="{% url 'reset' %}">here</a> to reset.</span>
        <br />
        <span>Don't have an account, yet? Click <a href="{% url 'create' %}">here</a> to create one.</span>
        <p><hr /></p>
{#        <p><a href="/ecas-login">#}
{#            <button class="button euLogin">#}
{#                    <i class="fa fa-sign-in" aria-hidden="true"></i> EU Login#}
{#                </button></a></p>#}
        <br/>
    </div>
{% endblock %}
