{% load replace %}
{% load humanize %}
{% spaceless %}

    <label class='component'>Distribution</label>
    {% if distribution.Distribution.Availability %}
        <div class="dataline indented">
            <label>
                <strong>Availability: </strong>{{ distribution.Distribution.Availability }}
            </label>
        </div>
    {% endif %}

    {% if distribution.Distribution.Availability_start_date %}
        <div class="dataline indented">
            <label>
                <strong>Availability Start
                    date: </strong>{{ distribution.Distribution.Availability_start_date|date:"SHORT_DATE_FORMAT" }}
            </label>
        </div>
    {% endif %}

    {% if distribution.Distribution.Availability_end_date %}
        <div class="dataline indented">
            <label>
                <strong>Availability End
                    Date: </strong>{{ distribution.Distribution.Availability_end_date|date:"SHORT_DATE_FORMAT" }}
            </label>
        </div>
    {% endif %}

    {% if "Licences" in distribution.Distribution %}
        <label class="title">Licences</label>
        {% for key, value in distribution.Distribution.items %}
            {% if "Licence" in key %}
                {% include "repository/resource_view/licence.html" with licence=value %}
            {% endif %}
        {% endfor %}

    {% endif %}

    <label {% if count > 1 %}style="cursor: pointer" onclick="$(this).next().filter('.collapse').slideToggle(300)"
           class="title collapse">Distribution Details ...</label> {% else %} class="title collapse">Distribution
               Details</label>{% endif %}
    <div {% if count > 1 %}class="collapse" style="display: none;"{% endif %}>
        {% for key1, value1 in distribution.Distribution.items %}
            {% if "Distribution_medium" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>Distribution Medium: </strong>{{ value1 }}
                    </label>
                </div>
            {% endif %}

            {% if "Download_location" in key1 and "https://elrc-share" not in value1 %}
                <div class="dataline indented">
                    <label>
                        <strong>Download location{% if ", " in value1 %}s{% endif %}
                            : </strong>{{ value1|urlizetrunc:23 }}{# value1|urlizetrunc:23 #}
                    </label>
                </div>
            {% endif %}

            {% if "Execution_location" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>Execution location{% if ", " in value1 %}s{% endif %}
                            : </strong>{{ value1|urlizetrunc:23 }}{# value1|urlizetrunc:23 #}
                    </label>
                </div>
            {% endif %}

            {% if "Fee" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>Fee: </strong>{{ value1|intcomma }}
                    </label>
                </div>
            {% endif %}

            {% if "Attribution" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>Attribution Details: </strong>{{ value1 }}
                    </label>
                </div>
            {% endif %}

        {% endfor %}
        {% if distribution.Distribution.Distribution_rights_holder %}
            <div class="dataline">
                <label class="dataline indented"><strong>Distribution Rights Holders:</strong></label>
                {% for key, value in distribution.Distribution.items %}
                    {% if "Distribution_rights_holder" in key %}
                        {% include "repository/resource_view/person.html" with person_dict=value.Distribution_rights_holder type="Distribution_rights_holder" %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if distribution.Distribution.IPR_holder %}
            <div class="dataline">
                <label class="dataline indented"><strong>IPR Holders</strong></label>
                {% for key, value in distribution.Distribution.items %}
                    {% if "IPR_holder" in key %}
                        <div class="indented">
                        {% include "repository/resource_view/person.html" with person_dict=value.IPR_holder type="IPR Holder" %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if distribution.Distribution.Personal_data_included %}
            <div class="dataline">
                {% if distribution.Distribution.Personal_data_included  == "True" %}

                    <label class="dataline indented"><strong>
                    Personal Data:
                </strong> YES</label>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endspaceless %}
