{% load replace %}
{% load humanize %}

{% spaceless %}

    {% if "Licence" in key %}

        {% for key1, value1 in value.items %}
            {% if "Licence" in key1 %}
                <div>
                    <label class="licence">
                        {% if value1 == 'Non-standard/ Other Licence/ Terms' or value1 == 'Open Under-PSI' or value1 == 'Public Domain' or value1 == 'Under Review' %}
                            {{ value1|rep }}
                            {% for key2, value2 in value.items %}
                                {% if 'Other_licence_terms_text' in key2 %}
                                    <div style="font-weight: normal;
                                    font-style: normal; background: #c4e6f373;
                                    padding: 10px; border-radius: 5px">{{ value2 }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in licence_paths.items %}
                                {% if value1 in k %}
                                    <div class="dataline">
                                        <a href="{{ v }}" target="_blank">{{ value1 }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </label>
                </div>
            {% endif %}
        {% endfor %}

        {% for key1, value1 in value.items %}
            {% if "Other_licence_terms_URL" in key1 %}
                <div>
                    <label class="dataline indented">
                        <a href="{{ value1 }}" target="_blank">{{ value1|urlizetrunc:60 }}</a>
                    </label>
                </div>
            {% endif %}
        {% endfor %}

        {% for key1, value1 in value.items %}
            {% if "Conditions_of_Use" in key1 %}
                <div class="dataline indented">
                    <label>
                        <strong>Conditions: </strong>{{ value1 }}
                    </label>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

{% endspaceless %}
