{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load url from future %}
{% load static from staticfiles %}
{# PROJECT MANAGEMENT #}
{% load is_member %}

{% block extrahead %}{{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/objectTools.js"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/themes/smoothness/jquery-ui.css" %}"/>
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="../../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
        {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
            {{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
        {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
{% endif %}{% endblock %}


{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <div class="object-tools-select">
                    <div><strong>Actions on Resource</strong></div>
                    <form id="actions_form">
                        <select name="selectAction" id="selectAction" onchange="toggleGO()">
                            <option label="-------------" value="" selected>-------------</option>
                            <optgroup label="Resource">
                                {% if original.storage_object.get_download %}
                                    <option label="Download Resource" value="datadl/">Download Resource</option>
                                {% endif %}
                                {% if original.storage_object.get_download %}
                                    <option label="Replace Resource (.ZIP)" value="upload-data/">
                                        Replace Resource (.ZIP)
                                        {% else %}
                                    <option label="Upload Resource (.ZIP)" value="upload-data/">
                                    Upload Resource (.ZIP)
                                {% endif %}
                                </option>
                                {# PROJECT MANAGEMENT #}
                                {% if user.is_superuser or user|is_member:"elrcReviewers" %}
                                    <option label="Manage in Project"
                                            value="/admin/project_management/managementobject/{{ original.id }}/">Manage
                                        in Project
                                    </option>
                                {% endif %}
                            </optgroup>
                            <optgroup label="Resource Metadata">
                                <option label="Export Resource Metadata to XML"
                                        value="export-xml/">Export Resource Metadata to XML
                                </option>
                                <option label="History of Metadata Record" value="history/">History of Metadata Record
                                </option>
                                {% if original.storage_object.published and has_absolute_url %}
                                    <option label="View on Site"
                                            value="../../../r/{{ content_type_id }}/{{ object_id }}/">View on Site
                                    </option>
                                {% endif %}
                            </optgroup>
                            <optgroup label="Validation">
                                {% if original.storage_object.get_validation %}
                                    <option label="Replace Validation Report (.PDF)" value="upload-report/">
                                        Replace Validation Report (.PDF)
                                        {% else %}
                                    <option label="Upload Validation Report (.PDF)" value="upload-report/">
                                    Upload Validation Report (.PDF)
                                {% endif %}
                                </option>
                                {% if original.storage_object.get_validation %}
                                    <option label="Download Validation Report"
                                            value="reportdl/">Download Validation Report
                                    </option>
                                {% endif %}
                            </optgroup>
                            <optgroup label="Legal Documentation">
                                {% if original.storage_object.get_legal_documentation %}
                                    <option label="Replace Legal Documentation (.ZIP)" value="upload-legal/">
                                        Replace Legal Documentation (.ZIP)
                                        {% else %}
                                    <option label="Upload Legal Documentation (.ZIP)" value="upload-legal/">
                                    Upload Legal Documentation (.ZIP)
                                {% endif %}
                                </option>
                                {% if original.storage_object.get_legal_documentation %}
                                    <option label="Download Legal Documentation"
                                            value="legaldl/">Download Legal Documentation
                                    </option>
                                {% endif %}
                            </optgroup>
                        </select>
                        <input id="go" type="button" onclick="goto_Action(this.form.selectAction)" value="Go"/>
                    </form>
                </div>

            {% endif %}{% endif %}
        {% endblock %}

        <script>
            $(document).ready(function () {
                $(".accordion h1").click(function () {
                    $(this).next().slideToggle();
                    $(".accordion h1").not(this).next().hide("clip");
                    return false;
                });
                $(".fields li").click(function () {
                    $(".fields li").removeClass("active");
                    $(this).addClass("active");
                    $(".tab_content").hide();
                    var selected_tab = $(this).find("a").attr("href");
                    $(selected_tab).fadeIn();
                    return false;
                });
            });
        </script>
        <div id="explanation">Fields marked with <img
                src="{% static "metashare/css/sexybuttons/images/icons/silk/asterisk_orange.png" %}"
                style="height:8px;"/> are required.
        </div>

        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}
                {% if save_on_top %}{% submit_row %}{% endif %}
                {% if errors %}
                    <div id="errmsg" style="display:none;">{{ errors }}</div>
                    <p class="errornote">
                        {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please
                            correct the errors below.{% endblocktrans %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                <div>
                    <div id="tabs_container">
                        <div id="firstlevel" class="accordion">
                            <h1><a href="#">Administrative Information</a></h1>
                            <div class="fields">
                                <ul>
                                    {% for fieldset in adminform %}
                                        {% if "administration" in fieldset.name %}
                                            <li{% if "Required" in fieldset.name %} class="active"    {% endif %}><a
                                                    href="#field-{{ forloop.counter }}">{{ fieldset.name|truncatewords:1|slice:":-4" }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <script type="text/javascript">

                                $(document).ready(function () {
                                    $('#firstlevel').append($('#contentInfoStuff'));
                                });

                            </script>

                        </div>

                    </div>

                    <div id="tabs_content_container">
                        {% for fieldset in adminform %}
                            <div id="field-{{ forloop.counter }}" class="tab_content"
                                    {% if "Required administration" in fieldset.name %}
                                 style="display:inline;" {% endif %}>
                                {% include "admin/repository/fieldset.html" %}
                            </div>
                        {% endfor %}
                    </div>


                </div>
                <script>

                    if ($('#errmsg').text().indexOf("general") != -1) {
                        $("h1:contains('General')").children("a").attr('class', 'error');
                        $("h1:contains('Tool')").children("a").attr('class', 'error');
                    }
                    if ($('#errmsg').text().indexOf("TextInfo") != -1) {
                        $("h1:contains('Text Info')").children("a").attr('class', 'error');
                    }
                    if ($('#errmsg').text().indexOf("Audio") != -1) {
                        $("h1:contains('Audio')").children("a").attr('class', 'error');
                    }
                    if ($('#errmsg').text().indexOf("Image") != -1) {
                        $("h1:contains('Image')").children("a").attr('class', 'error');
                    }
                    if ($('#errmsg').text().indexOf("Video") != -1) {
                        $("h1:contains('Video')").children("a").attr('class', 'error');
                    }
                    if ($('#errmsg').text().indexOf("TextNumerical") != -1) {
                        $("h1:contains('Text Numerical')").children("a").attr('class', 'error');
                    }
                    if ($('#errmsg').text().indexOf("TextNgram") != -1) {
                        $("h1:contains('Text N-gram')").children("a").attr('class', 'error');
                    }

                    $("h1").not("h1:contains('General')").not("h1:contains('Tool')").not("div[id$=protodiv] h1").children("a:contains('Edit')").attr('class', '');

                </script>


                <script>
                    var link;
                    $("ul.errorlist").each(function () {
                        if (link != $(this).parents("div .tab_content").attr("id")) {
                            link = $(this).parents("div .tab_content").attr("id");
                            $(".fields ul li a").each(function () {
                                if ($(this).attr("href") == "#" + link) {
                                    $(this).attr('class', 'error');
                                }
                            });
                        }
                    });
                </script>

                {% block after_field_sets %}{% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% submit_row %}

                {% if adminform and add %}
                    <script type="text/javascript">
                        (function ($) {
                            $(document).ready(function () {
                                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                            });
                        })(django.jQuery);
                    </script>
                {% endif %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

            </div>
        </form>
    </div>


{% endblock %}



